@import "~react-selectize/dist/index.min.css";

@import "../vars/vars";

@import "../components/table";
@import "../components/toolbar";
@import "../components/filter";
@import "../components/dropdown";

#bibli{
  .main-content{
    padding: 0;
  }
}

.toolbar-menu{
  .item{
    margin-bottom: 12px;

    button{
      width: 100%;
    }
  }
}

.pluriel{
  font-size: 14px;
  display: inline-block;
  margin-left: 4px;
}

.add-variant{
  label{
    display: none;
  }

  .btn{
    padding: 7px 14px;
    width: 100%;
  }
}

label[for="listVariants"]{
  margin-top: 8px;
}

.list-variants{
  width: 100%;
  max-width: 414px;

  .item{
    @include flex(row, center, space-between);
    margin-bottom: 8px;

    &:not(:last-child){
      border-bottom: 1px solid var(--fond);
    }
  }
}

.form-button{
  .btn{
    width: 100%;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .toolbar-menu{
    .item{
      margin-bottom: 0;
      margin-right: 12px;
    }
  }

  .toolbar-rooms, .toolbar-aspects{
    .filter-search{
      width: calc(100% - 172px - 24px);
    }
  }

  .toolbar-counters{
    .filter-search{
      width: calc(100% - 192px - 24px);
    }
  }

  .toolbar-keys{
    .filter-search{
      width: calc(100% - 154px - 24px);
    }
  }

  .toolbar-natures{
    .filter-search{
      width: calc(100% - 179px - 24px);
    }
  }

  .toolbar-elements{
    .filter-search{
      width: calc(100% - 182px - 24px);
    }
  }

  .items-default{
    .infos{
      align-items: stretch;
    }
  }

  .title-col{
    display: none;
  }

  .add-variant{
    label {
      display: inline-block;
    }
  }

  label[for="listVariants"]{
    margin-top: 20px;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .toolbar-rooms, .toolbar-aspects{
    .filter-search{
      width: calc(100% - 180px - 24px);
    }
  }
  .toolbar-keys{
    .filter-search{
      width: calc(100% - 160px - 24px);
    }
  }
  .toolbar-counters{
    .filter-search{
      width: calc(100% - 201px - 24px);
    }
  }
  .toolbar-natures{
    .filter-search{
      width: calc(100% - 187px - 24px);
    }
  }
  .toolbar-elements{
    .filter-search{
      width: calc(100% - 190px - 24px);
    }
  }
}