@import "../vars/vars";

@import "../components/table";
@import "../components/toolbar";
@import "../components/filter";
@import "../components/dropdown";

.toolbar-menu{
  .item{
    margin-bottom: 12px;

    button{
      width: 100%;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .toolbar-menu{
    .item{
      margin-bottom: 0;
      margin-right: 12px;
    }
  }

  .toolbar{
    .filter-search{
      width: calc(100% - 172px - 24px);
    }
  }
}