@import "../vars/vars";

@import "../components/table";
@import "../components/toolbar";
@import "../components/toolbar-create-search";

.selector{
  position: relative;
  cursor: pointer;
  width: 12px; height: 12px;
  border-radius: 4px;
  border: 1px solid var(--grey);
  background-color: var(--alpha);
  transition: all 0.2s ease-in-out;

  &:before{
    content: "";
    position: absolute;
    top: 1px; left: 1px;
    display: block;
    width: 9px; height: 10px;
    border-radius: 4px;
  }
}

.items-table{
  border: 1px solid var(--fond);
}

.items-rooms{
  .item{
    opacity: 0.8;

    .actions{
      opacity: 0.5;
    }

    &:hover{
      .selector{
        &:before{
          background-color: var(--primaryShadow);
        }
      }
    }

    &.active{
      opacity: 1;
      background-color: var(--primaryNuance1);

      .actions{
        opacity: 1;
      }

      .selector{
        &:before{
          background-color: var(--primary);
        }
      }

      &:hover{
        .selector{
          &:before{
            background-color: var(--primary);
          }
        }
      }
    }
    
    .name{
      cursor: pointer;
    }

    .number{
      padding: 8px;
    }
  }
}

.items-default{
  .item-room{
    .infos{
      align-items: flex-start;
    }
  }
}

.item-room{
  &.active{
    .elements{
      display: block;
    }

    .room-elements:not(:last-child){
      margin-bottom: 12px;
    }
  }

  .category{
    @include flex(row, center, flex-start);

    & > [class^="icon"]{
      display: inline-block;
      margin-right: 4px;
      font-size: 8px;
      color: var(--grey);
    }
  }

  .elements{
    display: none;
    opacity: 0.85;
    margin-top: 8px;
    margin-left: 24px;

    & > div:not(:last-child){
      margin-bottom: 2px;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .toolbar{
    .create{
      width: 176px;
    }

    .filter-search{
      width: calc(100% - 176px - 24px);
    }
  }
}
