@import "../vars/vars";

@import "../components/table";
@import "../components/toolbar";
@import "../components/toolbar-create-search";

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .items-default{
    .infos{
      align-items: flex-start;
    }
  }

  .toolbar {
    .create{
      width: 186px;
    }
    .filter-search{
      width: calc(100% - 186px - 24px);
    }
  }
}


//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .toolbar {
    .create{
      width: 195px;
    }
    .filter-search{
      width: calc(100% - 195px - 24px);
    }
  }
}