@import "../vars/vars";

h2{
  @include fontBold();
}

.user-form .card, .user-downloads, .users-list{
  background-color: var(--alpha);
  border-radius: 4px;
  box-shadow: 0 0 8px var(--greyShadow);
}

.user-form{
  max-width: 320px;

  .card-header{
    background-color: var(--color0);
    color: var(--alpha);
    @include fontSemibold();
    font-size: 18px;
    padding: 12px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 12px;
  }

  .card-body{
    padding: 12px;
  }
}

.user-downloads{
  padding: 12px;
  margin-top: 24px;

  & > *:first-child{
    margin-bottom: 12px;
  }
}

.user-users{
  margin-top: 24px;

  & > .title{
    .actions{
      margin-top: 12px;
      text-align: right;
    }
  }
}

.users-list{
  margin-top: 24px;
  border: 1px solid var(--greyShadow);

  .list-header{
    display: none;
  }

  .sub{
    font-size: 15px;
    opacity: 0.8;
  }

  .list-items{
    .col-1{
      @include fontSemibold()
    }

    .col-3{
      margin-top: 12px;
    }

    .role-blocked{
      background-color: var(--dangerShadow);
      border-radius: 50px;
      padding: 4px 12px;
      font-size: 14px;
      display: inline-block;
    }
  }

  .item{
    padding: 12px;

    &:not(:last-child){
      border-bottom: 1px solid var(--greyShadow);
      margin-bottom: 12px;
    }

    .col-4{
      text-align: right;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .user-container{
    @include flex(row, flex-start, flex-start);

    & > .col-1{
      width: 320px;
    }

    & > .col-2{
      width: calc(100% - 320px - 24px);
      margin-left: 24px;
    }
  }

  .user-form{
    min-width: 320px;

    .card-header{
      padding: 24px;
    }

    .card-body{
      padding: 12px 24px 24px 24px;
    }

    .form-button{
      & > .btn{
        width: 100%;
      }
    }
  }

  .user-downloads{
    margin-top: 0;
    padding: 24px;
    width: calc(100% - 48px);

    & > *:first-child{
      margin-bottom: 0;
    }

    & > *{
      width: calc(100% - 48px);
    }
  }

  .user-users{
    & > .title{
      @include flex(row, center, space-between);

      .actions{
        margin-top: 0;
        text-align: right;
      }
    }
  }

  .users-list {
    .item{
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;

      .col-1, .col-2, .col-3{
        margin-right: 12px;
      }

      .col-1{
        width: calc(30% - 12px);
      }

      .col-2{
        width: calc(45% - 12px);
      }

      .col-3{
        margin: 0;
        width: 25%;
      }

      .col-4{
        width: 100%;
        margin-top: 4px;
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .user-downloads{
    & > *{
      width: auto;
    }

    & > *:first-child{
      margin-right: 24px;
    }
  }

  .user-users{
    margin-top: 48px;
  }

  .users-list{
    .list-header {
      display: block;
      text-transform: uppercase;
      @include fontRegular();
      font-size: 14px;
      color: var(--grey2);
      border-bottom: 1px solid var(--grey);
    }

    .item{
      padding: 24px;

      .col-1 {
        width: calc(26% - 12px);
      }

      .col-2{
        width: calc(40% - 12px);
      }

      .col-3{
        width: calc(18% - 12px);
        margin-right: 12px;
      }
      .col-4{
        width: 16%;
        margin-top: 0;
      }
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .user-container{
    & > .col-2{
      width: calc(100% - 320px - 48px);
      margin-left: 48px;
    }
  }
}