{% extends 'base.twig' %}

{% block title %}Connexion espace client {{ parent() }}{% endblock %}

{% block stylesheets %}
    {% webpack_entry_css 'app' %}
{% endblock %}

{% block body %}
    <main class="login">
        <div class="signIn">
            <div class="illustration">
                <div class="image">
                    <img src="images/login-page.jpg" alt="Login page fokus logiciel etat des lieux marseille">
                </div>
            </div>
            <div class="main-sign-in">
                <header>
                    <div class="header-container">
                        <div class="header-name">
                            <div class="fokus">
                                <span class="txt-color1">Fokus</span>
                                <span>Logiciel d'état des lieux</span>
                            </div>
                            <div class="profil">
                                <div>
                                    <a class="btn-icon" href="{{ url_for('login') }}">
                                        <span class="icon-home"></span>
                                        <span>Espace client</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="content">
                    <h1>Espace client Fokus</h1>
                    <form action="{{ url_for('loginForm') }}" method="POST">
                        <div class="line">
                            <div class="form-group">
                                <label for="username">Nom utilisateur</label>
                                <input type="text" name="username" id="username" required autofocus>
                            </div>
                        </div>
                        <div class="line">
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <div class="see-password">
                                    <input type="password" name="password" id="password" required>
                                    <span class="icon-hide btn-see-password"></span>
                                </div>
                            </div>
                        </div>
                        {% if errors | length > 0 %}
                            <div class="alert alert-danger">
                                <span class="icon-warning"></span>
                                <p>Vos identifiants sont incorrects</p>
                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-color0">
                            <span>Se connecter</span>
                        </button>
                        <div class="btn-lost">
                            <span>Mot de passe oublié ?</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    {% include 'app/layout/components/footer.twig' %}
{% endblock %}

{% block javascripts %}
    {% webpack_entry_js 'app' %}
{% endblock %}