{% extends 'app/pages/security/template.twig' %}

{% block title %}Connexion espace client {{ parent() }}{% endblock %}

{% block main_content %}
    <h1>Espace client Fokus</h1>
    <form action="{{ url_for('loginForm') }}" method="POST">
        <div class="line">
            <div class="form-group">
                <label for="username">Nom utilisateur</label>
                <input type="text" name="username" id="username" required autofocus>
            </div>
        </div>
        <div class="line">
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <div class="see-password">
                    <input type="password" name="password" id="password" required>
                    <span class="icon-hide btn-see-password"></span>
                </div>
            </div>
        </div>
        {% if errors | length > 0 %}
            <div class="alert alert-danger">
                <span class="icon-warning"></span>
                <p>Vos identifiants sont incorrects</p>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-color0">
            <span>Se connecter</span>
        </button>
        <div class="btn-lost">
            <span>Mot de passe oublié ?</span>
        </div>
    </form>
{% endblock %}

{% block aside %}
    <div class='aside aside-lost'>
        <div class="aside-overlay"></div>
        <div class="aside-content">
            <div class="aside-title">
                <span class="title">Mot de passe oublié ?</span>
                <span class="icon-cancel btn-lost"></span>
            </div>
            <div class="form form-lost">
                <p class="form-infos">
                    Un mail est envoyé à l'adresse email associé au compte. <br>
                    Ce mail contient un lien vous permettant de réinitialiser votre mot de passe. <br/> <br/>
                    Pensez à vérifier vos spams/courriers indésirables.
                </p>
                <form class="lost-form" data-url="{{ url_for('lostForm') }}" method="POST">

                    <div class="form-success">
                        <div class="alert alert-primary">
                            <span class="icon-info"></span>
                            <p></p>
                        </div>
                    </div>

                    <div class="line">
                        <div class="form-group input-fusername">
                            <label for="fusername">Nom utilisateur</label>
                            <input type="text" name="fusername" id="fusername" required>
                            <div class="error">
                                <span class='icon-warning'></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-button">
                            <button type="submit" class="btn btn-color0">
                                <span>Envoyer le lien</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}