{% extends 'base.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {% webpack_entry_css 'app' %}
{% endblock %}

{% block body %}
    <div class="main-content">
        <h1>Connexion</h1>
        <form action="/login" method="POST">
            <div class="line">
                <div class="form-group">
                    <label for="username">Nom utilisateur</label>
                    <input type="text" name="username" id="username"><br>
                </div>
            </div>
            <div class="line">
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password"><br>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <span>Se connecter</span>
            </button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {% webpack_entry_js 'app' %}
{% endblock %}