{% extends 'app/layout/layout.twig' %}

{% block title %}Mon compte {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% webpack_entry_css 'user' %}
{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Mon compte</h1>
        </div>
    </div>

    <div class="main-content">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% webpack_entry_js 'user' %}
{% endblock %}