@import '../vars/vars.scss';

.legales{
  & > div{
    margin-bottom: 48px;

    h2, h3{
      margin-bottom: 8px;
    }

    h2 + div{
      margin-bottom: 24px;
    }

    h3 + p{
      margin-bottom: 12px;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .main-content-legal{
    h1{
      padding-top: 24px;
    }
  }
}