<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    {% block noindex %}{% endblock %}
    {% block openGraph %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/png">
    <title>{% block title %}| Fokus, logiciel d'états des lieux{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>

<div>
    {% set pathLogout   = '/logout' %}
    {% set pathHomepage = '/espace-client' %}
    {% set pathEdls   = '/espace-client/edls' %}
    {# --------------- BODY ---------------- #}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>