@import "../../../vars/vars";

.select-elements{
  .categories{
    margin-bottom: 24px;

    .category{
      opacity: 0.8;

      &.true{
        opacity: 1;
      }

      & > .btn{
        width: 100%;

        &:hover{
          opacity: 1;
          border-color: var(--grey2);
        }
      }

      &:not(:last-child){
        margin-bottom: 12px;
      }
    }
  }
}


//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .select-elements{
    .categories{
      @include flex(row, stretch, flex-start);
      flex-wrap: wrap;
      width: calc(100% + 12px);

      .category{
        width: calc(50% - 12px);
        margin-right: 12px;
        margin-bottom: 12px;
      }
    }
  }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
  .select-elements{
    .categories{
      .category{
        width: calc(33% - 12px);
      }
    }
  }
}