@import "../../../vars/vars";

.items-rooms{
  .item:not(.item-header){
    opacity: 0.8;

    .actions{
      opacity: 0.5;
    }

    &:hover{
      .selector{
        &:before{
          background-color: var(--primaryShadow);
        }
      }
    }

    &.active{
      opacity: 1;
      background-color: var(--primaryNuance1);

      .actions{
        opacity: 1;
      }

      .selector{
        &:before{
          background-color: var(--primary);
        }
      }

      &:hover{
        .selector{
          &:before{
            background-color: var(--primary);
          }
        }
      }
    }

    .number{
      padding: 8px;
    }
  }
}