{% extends 'app/layout/layout.twig' %}

{% block title %}Liste des biens {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% webpack_entry_css 'property' %}
{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Liste des biens</h1>
        </div>
    </div>

    <div class="main-content">
        <div id="properties" data-donnees="{{ data }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% webpack_entry_js 'property' %}
{% endblock %}