{% extends 'app/pages/edl/template.twig' %}

{% block title %}Ajouter un état des lieux {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Ajouter un état des lieux</h1>
        </div>
    </div>

    <div class="main-content">
        <div class="edl-form">
            {% include 'app/pages/edl/components/form.twig' %}
        </div>
    </div>
{% endblock %}