{% extends 'app/pages/edl/template_form.twig' %}

{% block title %}Ajouter un état des lieux {{ parent() }}{% endblock %}

{% block edl_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Ajouter un état des lieux</h1>
        </div>
    </div>

    <div class="main-content">
        <div id="edl-create" data-users="{{ users | json_encode }}" data-current-user="{{ session.user[7] }}"></div>

        {% include 'app/pages/edl/components/form.twig' with {
            url_edl_form: url_for('edl_create'),
            from: "create"
        }%}
    </div>

    {{ parent() }}
{% endblock %}