{% extends 'app/layout/layout.twig' %}

{% block title %}Etat des lieux {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Etat des lieux</h1>
            <div class="actions">
                <a href="" class="btn btn-primary">
                    <span>Ajouter un état des lieux</span>
                </a>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div>hello world</div>
        <div id="test" data-donnees="{{ test }}"></div>
        <script>
            let test = document.querySelector("#test");
            console.log(JSON.parse(test.dataset.donnees))
        </script>
    </div>
{% endblock %}