{% extends 'app/pages/edl/template_form.twig' %}

{% block title %}Modifier un état des lieux {{ parent() }}{% endblock %}

{% block edl_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Modifier référence : {{ edl.property.reference }}</h1>
        </div>
    </div>

    <div class="main-content">
        {% include 'app/pages/edl/components/form.twig' with { edl: edl } %}
    </div>

    {{ parent() }}
{% endblock %}