{% extends 'app/pages/edl/template.twig' %}

{% block title %}Modifier un état des lieux {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Modifier un état des lieux</h1>
        </div>
    </div>

    <div class="main-content">
        <div class="edl-form">
            {% include 'app/pages/edl/components/form.twig' with { edl: edl } %}
        </div>
    </div>

    {% include 'app/pages/edl/components/select-bien.twig' %}

    <div id="view" data-donnees="{{ donnees }}"></div>
{% endblock %}