{% extends 'app/layout/layout.twig' %}

{% block title %}Espace client{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Welcome</h1>
        </div>
    </div>

    <div class="main-content">
        <div>hello world</div>
        <div id="test" data-donnees="{{ test }}"></div>
        <script>
            let test = document.querySelector("#test");
            console.log(JSON.parse(test.dataset.donnees))
        </script>
    </div>
{% endblock %}