{% extends 'app/layout/layout.twig' %}

{% block title %}Espace client{% endblock %}

{% block main_content %}
    <div>
        <h1>{{ name }}</h1>
        <a href="/logout">Se déconnecter</a>
        <div id="test" data-donnees="{{ test }}"></div>
        <script>
            let test = document.querySelector("#test");
            console.log(JSON.parse(test.dataset.donnees))
        </script>
    </div>
{% endblock %}